<%= simple_form_for(@message,:remote=>true) do |f| %>
  <fieldset>
  <legend>Send Message</legend>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="js_error_explanation">
  </div> 
  
    <div class="controls controls-row">
      <%= f.select :user_id ,User.all.map{|u| [u.name,u.id]},{ :prompt => 'Select a User' },:class=>"span4"%>
     
      <%= f.select :message_template_id ,MessageTemplate.all.map{|m| [m.name,m.id]},{ :prompt => 'Select a Message Template' },:class=>"span4"%>
     
    </div>

    <div class="controls controls-row">
      <%= f.label :responses,:class=>"control-label" %>
      <%= f.text_area :responses,:rows=>3,:style=>"width: 390px; height: 55px;" %>
    </div>    
    
    <div class="controls controls-row">
      <br/>
       <button class="btn btn-info" type="submit">Send</button>
    </div>
  
  </fieldset>
<% end %>
