<%= form_for(@message_template) do |f| %>
  <% if @message_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_template.errors.count, "error") %> prohibited this message_template from being saved:</h2>

      <ul>
      <% @message_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :active_from %><br />
    <%= f.datetime_select :active_from %>
  </div>
  <div class="field">
    <%= f.label :active_until %><br />
    <%= f.datetime_select :active_until %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
