<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @message_template.name %>
</p>

<p>
  <b>Active from:</b>
  <%= @message_template.active_from %>
</p>

<p>
  <b>Active until:</b>
  <%= @message_template.active_until %>
</p>

<p>
  <b>Status:</b>
  <%= @message_template.status %>
</p>


<%= link_to 'Edit', edit_message_template_path(@message_template) %> |
<%= link_to 'Back', message_templates_path %>
