<%= form_for(@photo, :url => user_photos_path, :multipart => true, :class=>"form-horizontal") do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this message_template from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :photo,:class=>"control-label" %>
    <div class="controls">
     <%= f.file_field :photo %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.submit "Upload!" %>
  </div>
<% end %>
